
<ion-header>

  <ion-navbar>
    <ion-title>Edit Details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="card-background-page">
	<ion-card>
      <img src="./assets/images/banner.jpg" />
      <div class="card-title">LE VELO DE JULES</div>
      <div class="card-subtitle">le paradis du collectionneur</div>
      
    </ion-card>
	<ion-list>
		<ion-item-divider color="#585858" style="background-color:#E6E6E6; border-color:#585858 ; border-size:5px;">
			<p><b>Personal Details</b></p>
		</ion-item-divider>
		
		<ion-item>
			<ion-label >First Name</ion-label>
			<ion-input type="text" [(ngModel)]="theUser.first_name">
			</ion-input>	
		</ion-item>
		<ion-item>
			<ion-label >Last Name</ion-label>
			<ion-input type="text" [(ngModel)]="theUser.last_name">
			</ion-input>	
		</ion-item>
		<ion-item>
			<ion-label>Email</ion-label>
			<ion-input [disabled]="true" type="email" [(ngModel)]="theUser.email" (ionBlur)="checkEmail()"
			pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})">
			</ion-input>	
		</ion-item>
		<ion-item>
			<ion-label>User Name</ion-label>
			<ion-input [disabled]="true" type="text" [(ngModel)]="theUser.username">
			</ion-input>	
		</ion-item>
		<ion-item>
			<ion-label>Password</ion-label>
			<ion-input type="password" [(ngModel)]="theUser.password">
			</ion-input>	
		</ion-item>
		<ion-item>
			<ion-label>Confirm Password</ion-label>
			<ion-input type="password" [(ngModel)]="theUser.confirm_password" (ionBlur)="confirmPassword()">
			</ion-input>	
		</ion-item>
	<!--              BILLING DETAILS             -->
		
		<ion-item-divider color="#585858" style="background-color:#E6E6E6; border-color:#585858 ; border-size:5px;"><p><b>Billing Details</b></p>
		</ion-item-divider>
		
		<ion-item>
			<ion-label>Address line 1</ion-label>
			<ion-textarea type="text" maxlength="80" [(ngModel)]="theUser.billing.address_1">
			</ion-textarea>
		</ion-item>	
		<ion-item>
			<ion-label>Address line 2</ion-label>
			<ion-textarea type="text" maxlength="80" [(ngModel)]="theUser.billing.address_2">
			</ion-textarea>
		</ion-item>
		
		<ion-item>
			<ion-label>City</ion-label>
			<ion-input type="text" [(ngModel)]="theUser.billing.city">
			</ion-input>	
		</ion-item>
		<ion-item>
			<ion-label>Postal Code</ion-label>
			<ion-input type="number" clearInput [(ngModel)]="theUser.billing.postcode">
			</ion-input>	
		</ion-item>
		<ion-item>
			<ion-label>Country</ion-label>
			<ion-select [(ngModel)]="theUser.billing.country">
				<ion-option value="France" selected="false">France</ion-option>
				<ion-option value="Germany" selected="false">Germany</ion-option>
				<ion-option value="US" selected="false">USA</ion-option>
			</ion-select>
		</ion-item>
		<ion-item>
			<ion-label>Phone Number</ion-label>
			<ion-input type="tel" clearInput [(ngModel)]="theUser.billing.phone">
			</ion-input>	
		</ion-item>	

<!--		<ion-item-divider  color="#585858" style="background-color:#E6E6E6; border-color:#585858 ; border-size:5px;">
			<ion-label style="font-size: 14px !important;"> check for a different shipping address</ion-label>
			<ion-checkbox (ionChange)="fillShipping()" checked="false"></ion-checkbox>
			
		</ion-item-divider>
-->
		<!-- SHIPPING DETAILS will appear if checkbox unchecked -->

		<ion-item-divider *ngIf="!billing_equals_shipping" color="#585858" style="background-color:#E6E6E6; border-color:#585858 ; border-size:5px;"><p><b>Shipping Details</b></p>
		</ion-item-divider>

		<ion-item *ngIf="!billing_equals_shipping">
			<ion-label>First Name</ion-label>
			<ion-input type="text" [(ngModel)]="theUser.shipping.first_name">
			</ion-input>	
		</ion-item>
		<ion-item *ngIf="!billing_equals_shipping">
			<ion-label>Last Name</ion-label>
			<ion-input type="text" [(ngModel)]="theUser.shipping.last_name">
			</ion-input>	
		</ion-item>
		
		<ion-item *ngIf="!billing_equals_shipping">
			<ion-label >Address line 1</ion-label>
			<ion-textarea type="text" maxlength="80" [(ngModel)]="theUser.shipping.address_1">
			</ion-textarea>
		</ion-item>	
		<ion-item *ngIf="!billing_equals_shipping">
			<ion-label>Address line 2</ion-label>
			<ion-textarea type="text" maxlength="80" [(ngModel)]="theUser.shipping.address_2">
			</ion-textarea>
		</ion-item>
		
		<ion-item *ngIf="!billing_equals_shipping">
			<ion-label>City</ion-label>
			<ion-input type="text" [(ngModel)]="theUser.shipping.city">
			</ion-input>	
		</ion-item>
		<ion-item *ngIf="!billing_equals_shipping">
			<ion-label>Postal Code</ion-label>
			<ion-input type="number" clearInput [(ngModel)]="theUser.shipping.postcode">
			</ion-input>	
		</ion-item>
		<ion-item *ngIf="!billing_equals_shipping">
			<ion-label>Country</ion-label>
			<ion-select [(ngModel)]="theUser.shipping.country">
				<ion-option value="France" selected="false">France</ion-option>
				<ion-option value="Germany" selected="false">Germany</ion-option>
				<ion-option value="US" selected="false">USA</ion-option>
			</ion-select>
		</ion-item>
		<ion-item *ngIf="!billing_equals_shipping">
			<ion-label>Phone Number</ion-label>
			<ion-input type="tel" clearInput [(ngModel)]="theUser.shipping.phone">
			</ion-input>	
		</ion-item>	

	</ion-list>

</ion-content>

<ion-footer>
	<button ion-button color="danger" (click)="cancelUpdateDetails()">Cancel
	</button>
	<button ion-button block color="danger" (click)="updateDetails()">Update Details
	</button>
</ion-footer>
